@use 'variaveis';

body{
    background-color: variaveis.$cordeFundo;
    font-family: 'roboto';
    box-sizing: border-box;
}

#cabecalho{
    background-color: variaveis.$corCabecalho;
    h1{
        color: variaveis.$cordeFundo;
        font-family: lobster;
    }
}

.nav{
    .nav-item{
        .nav-link{
            color: variaveis.$cordeFundo;
        }
        .nav-link.active{
            color: variaveis.$corTexto;
            background-color: variaveis.$corItem;
        }
    }
}

.botao{
    &-item{
        width: 300px;
        background-color: variaveis.$corCabecalho;
        transition: all ease .3s;
        border: 3px solid variaveis.$corCabecalho;
        &:hover{
            color: variaveis.$corTexto;
            background-color: variaveis.$cordeFundo;
            border: 3px solid variaveis.$corCabecalho;
        }
    }
}

.icones{
    margin: 0 auto;
    width: 70%;
    .icon{
        img{
            max-width: 32px;
            transition: all ease .3s;
            &:hover{
                scale:1.2;
            }
        }
    }
    
}
.titulo{
    font-family: lobster;
    color: variaveis.$corTexto;
    border-bottom: 1px solid variaveis.$corTexto;
    padding: 10px;
}

.carousel-caption{
    .tf{
        box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.512);
        transition: all ease 0.3s;
        &:hover{
            color: variaveis.$corTexto;
            box-shadow: none;
        }
    }
}

.btn-bk{
    background-color: #F5EBDC;
    color: variaveis.$corTexto;
    &:hover{
        background-color: darken(#F5EBDC,20);
        color: white;
    }
}

.carousel-item{
    max-height: 30vw;
    overflow-y: hidden;
    .img{
        width: 100%;
    }
}

.w-98{
    width: 98px;
    margin: 0 auto;
}

.box-shadow{
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.105)
}

.card{
    &-item{
        width: 100%;
        height: 19vw;
        overflow-y: hidden;
    }
}

.navbar-toggler{
    background-color: variaveis.$cordeFundo;
    &:focus{
        box-shadow: 0px 0px 5px rgba(255, 255, 255, 0.63);
    }
}


@media (max-width:767px){
    .container{
        width: 85vw;
    }
    .icones{
        width: 100%;
    }
    #portifolio{
        .container{
            width: 97vw;
        }
    }
    .card{
        &-item{
            height: 60vw;
        }
    }
}

